{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5 content">
    <h2>Company List</h2>
    <table class="table table-bordered contacts-table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ company.company_name }}</td>
                    <td>{{ company.email }}</td>
                    <td>


                        {% if company.qrcode %}
                            <a href="{{ company.qrcode.url }}" download class="btn btn-success btn-download">
                                Download QR
                            </a>
                        {% else %}
                            <span class="text-muted">No QR Code</span>
                        {% endif %}

                        <!-- Edit Button -->
                        <a href="{% url 'company_edit' company.id %}" class="btn btn-warning btn-view">
                            Edit
                        </a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}
